
body {
    background-color: #f4f6f9;
    font-family: Arial, sans-serif;
}

.hero {
    margin-top: 40px;
}

.hero h1 {
    color: #0d6efd;
}

.section {
    margin-top: 50px;
}

.product-img {
    max-width: 80%;
    border-radius: 10px;
}

.box {
    background: white;
    padding: 15px;
    border-radius: 8px;
}

.footer {
    margin-top: 50px;
    padding: 15px;
    background: #212529;
    color: white;
    text-align: center;
}
